{% extends 'layout.twig' %}

{% block body %}
    <div class="container row center">
        <!-- Connexion -->
        <div class="card col s12 l5">
            <div class="card-content">
                <span class="card-title">Connexion</span>
                <form method="post" action="/auth/login">
                    <div class="input-field col s12">
                        <input type="text" id="login_identifier" name="email" class="validate">
                        <label for="login_identifier">Adresse mail</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" id="login_password" name="password" class="validate">
                        <label for="login_password">Mot de passe</label>
                    </div>
                    <input type="submit" class="btn">
                </form>
                <hr/>
                <span class="card-title">Ou alors ... </span>
                <a class="btn red" href="/auth/google">Google</a>
                <a class="btn blue" href="/auth/facebook">Facebook</a>
                <a class="btn teal" href="/auth/linkedin">LinkedIn</a>
                <a class="btn light-blue" href="/auth/twitter">Twitter</a>
            </div>
        </div>
        <!-- Inscription -->
        <div class="card col s12 l5 offset-l1">
            <div class="card-content">
                <span class="card-title">Inscription</span>
                <form method="post" action="/auth/signin">
                    <div class="input-field col s12">
                        <input type="text" id="identifier" name="INSC_identifier" class="validate">
                        <label for="identifier">Identifiant</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="password" id="password" name="INSC_password" class="validate">
                        <label for="password">Mot de passe</label>
                    </div>
                    <input type="submit" class="btn">
                </form>
                <br/>
                <hr/>
                <span class="card-title">Ou alors ... </span>
                <a class="btn red" href="#">Google</a>
                <a class="btn blue" href="#">Facebook</a>
            </div>
        </div>
    </div>
{% endblock %}