{% extends 'layout.twig' %}

{% block body %}

    <div class="container">
        <div class="card">
            <div class="card-content center">
                <h2 class="card-title flow-text">Attendez... je vous reconnais !</h2>
                <p class="large">Il semblerais que vous ayez
                    déjà {{ infos.providersLinked.length > 1 ?  "plusieurs compte" : "un compte" }}
                    lié{{ infos.providersLinked.length > 2 ? "s" : "" }} à l'adresse
                    mail {{ infos.email is defined ? infos.email : "???" }} !
                </p>


                <p>
                    Pour fusionner votre compte {{ infos.provider }} avec les autres comptes, et pouvoir vous connecter
                    avec n'importe quel compte lié à cette adresse, cliquez ci-dessous :
                </p>
                <a class="btn green" href="/auth/merge?token={{ infos.providerId }}&provider={{ infos.provider }}&userid={{ infos.userId }}">Fusionner</a>
                <p>
                    Si vous ne souhaitez pas fusionner vos compte, vous pouvez retourner sur la page de connexion et
                    utiliser un des moyens de connexion suivant :
                <ul>
                    {% for provider, in infos.providersLinked %}
                        <li>{{ info.provider|replace('/_id/':"") }}</li>
                    {% endfor %}
                </ul>
                </p>
                <a class="btn blue" href="/auth/login"> Connexion </a>
            </div>
        </div>
    </div>
{% endblock %}